<!DOCTYPE html>
<html>
<head>
  <title>Acidtech</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
<%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
  
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">


  <%= render 'application/favicon' %>
</head>

<body>
  <%= yield %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/ckeditor.js"></script>
</html>


